/* CSS reset */
* {
  margin: 0;
  padding: 0; }

.indexCard {
  width: 90vw;
  box-shadow: rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px, rgba(240, 46, 170, 0.025) 25px 25px; }

.img_index {
  width: 90vw; }

@media only screen and (min-width: 768px) {
  .indexCard {
    width: 85vw; }
  .img_index {
    width: 50vw; }
  .imgIndexBg {
    background-color: #dba3b0; } }

.cardAbout {
  width: 95vw;
  box-shadow: rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px, rgba(240, 46, 170, 0.025) 25px 25px; }

.imgAbout {
  width: 60vw; }

.columnImgAbout, .imgAboutBg {
  background-color: #dba3b0; }

@media only screen and (min-width: 768px) {
  .cardAbout {
    width: 85vw; } }

nav a {
  color: white !important;
  font-weight: 600; }

body {
  background: #f9d6d6;
  background: linear-gradient(180deg, #f9d7d7 27%, #aee2da 100%) !important; }

.navbar {
  background-color: #c74071 !important; }

.sanarCard {
  width: 90vw;
  box-shadow: rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px, rgba(240, 46, 170, 0.025) 25px 25px; }

.cardImg {
  width: 90vw; }

.imgSanarBg {
  background-color: #dba3b0; }

.cardQuote {
  width: 90vw; }

@media only screen and (min-width: 768px) {
  .sanarCard {
    width: 50vw; }
  .cardImg {
    width: auto;
    height: 40vh; }
  .cardQuote {
    width: 70vw; } }

footer {
  background-color: #f8f9fa; }

.footer_text {
  font-weight: 700; }

.icon_footer {
  width: 30px; }
