body{
    background: rgb(249,214,214);
    background: linear-gradient(180deg, rgba(249,214,214,1) 27%, rgba(148,187,233,1) 100%)!important;
}

.navbar{
    background-color: map-get($color-pallette, dkPink) !important;
}