body{
    background: rgb(249,214,214);
    background: linear-gradient(180deg, rgb(249, 215, 215) 27%, rgba(174,226,218,1) 100%)!important;
}

.navbar{
    background-color: map-get($color-pallette, dkPink) !important;
}