.indexCard{
    box-shadow: rgba(240, 46, 170, 0.3) 5px 5px, rgba(240, 46, 170, 0.2) 10px 10px, rgba(240, 46, 170, 0.1) 15px 15px, rgba(240, 46, 170, 0.05) 20px 20px, rgba(240, 46, 170, 0.025) 25px 25px;
    width:95vw;
};

.img_index{
    width: 135px;
    height: 200px;
    object-fit: cover;
};

.bigText{
    font-size: 2.5rem;
    color: rgb(49, 53, 49);

};

.indexTextBg{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
};



@media  only screen and (min-width:768px){
    .indexCard{
        width: 50vw;
    };

    .img_index{
        width: 270px;
        height: 400px;
        object-fit: cover;
    };
};